<!-- inherits layout.html -->
{% extends 'layout.html' %}

{% block title %}My Account{% endblock title %}

{% block body %}
<div class="index-div">
<div class="account">
<h1 style="padding-bottom:8px;">{{ g.user['username'] }}</h1>
<p style="padding-bottom:5px">{{ g.user['email'] }}</p>
<p style="padding-bottom:5px">{{ g.user['elixir'] }} Elixirs</p>
<p style="padding-bottom:5px">{{ posts|length }} Posts</p>
<p style="padding-bottom:5px">{{ comments|length }} Comments</p>
</div>
</div>
{% endblock body %}

{% block script %}
    document.getElementById('user-icon').removeAttribute('fill');
    document.getElementById('user-icon').setAttribute("fill", "#ff4a4a");
{% endblock script %}