{% extends 'layout.html' %}

{% block title %}New Post{% endblock title %}

{% block body %}
<div class="index-div-create">
    <div class="create-post">
    <form method="post">
        <h1>New Post</h1>
        <h3>Title</h3>
        <input type="text" name="title">
        <h3>Body</h3>
        <textarea class='dddddddddddddd' name="body"></textarea>
        <input id='new-post-button' type="submit" value="Create">
    </form>
    </div>
</div>
{% endblock body %}

{% block script %}
    document.getElementById('home-icon').removeAttribute('fill');
    document.getElementById('home-icon').setAttribute("fill", "#ff4a4a");
{% endblock script %}