{% extends 'layout.html' %}

{% block title %}BMI Calculator{% endblock title %}

{% block body %}
<div class="calc-div">
    <div class='calc-block'>
        <h1 style="color:#ff4a4a; margin-bottom: 20px">Calculate Your BMI</h1>
        <h2>Body mass index (BMI) is a value that is calculated using someone's mass and height. It is used by doctors, coaches, and many other professionals to calculate whether a person is overweight, underweight, or just right.</h3>
        <form method="post" style="display: inline; margin-top:40px">
            
            <p style="font-size:20px">We will use 
            <select name='metrics'>
                <option value='inches and pounds'>inches and pounds</option>
                <option value='meters and kilograms'>meters and kilograms</option>
            <select>
            when calculating your BMI. </p>
            <p style="font-size:20px">Your height is <input type="text" name="height"/> (integer or decimal value). </p>
            <p style="font-size:20px">Your weight is <input type="text" name="weight"/> (integer or decimal value). </p>
            <input type="submit" value="Calculate" id='calculate-btn' />
                    {% if bmi %}
            <h2 style="padding-top: 50px;">Your BMI is: {{ bmi }}</h2>
            <h2 style="padding-top: 20px;">{{ advice }}</h2>
        {% endif %}
        </form>
        <div style="padding-top: 50px; display:block; color: white; background-color:white">Hello there ;)</div>
    </div>
</div>
{% endblock body %}

{% block script %}
    document.getElementById('calc-icon').removeAttribute('fill');
    document.getElementById('calc-icon').setAttribute("fill", "#ff4a4a");
{% endblock script %}