@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

::-webkit-scrollbar {
    width: 10px;
}
   
::-webkit-scrollbar-thumb {
    background:#ff4a4a; 
    border-radius: 8px;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: 0 none;
}

body {
    background-color: #eeeeee;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6  {
    font-weight: bold;
}

span {
	font-size: 12px;
}

.navbar {
    z-index: 1;
    position:fixed;
    padding-top: 5px;
    background-color:#181818;
    width:70px;
    height:100vh;

}

.nav-icon {
    width:35px;
    padding:17.5px 17.5px 17.5px 17.5px;
    margin-bottom: 0;
    background-color:#181818;
}

.navbar-nav, .nav-link {
    background-color:#181818;
}

.main {
    padding-left: 70px;
    overflow-y: hidden;
    overflow-x: hidden;

}

.flash {
    text-align: center;
    font-size:25px;
    width: 93%;
    position: absolute;
    margin-top: 10%;
}

.register-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container-2 {
    width:55%;
    height: 50%;
    display: flex;
    flex-direction: row;
    border-radius:10px 10px 10px 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin-top:1%;

}

.register-left {
    border-radius:10px 0 0 10px;
    background-color: rgb(255, 255, 255);
    width: 50%;
    overflow: hidden;
    padding-top: 2%;
}

.register-left h1 {
    overflow: hidden;
    text-align: center;

}

.register-left input {
    background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 15px 12% 0 12%;
	width: 70%;
}

#register-button {
	border-radius: 20px;
	border: none;
	background-color: #ff4a4a;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 2% 12px 2%;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    width:30%;
    margin-left:35%
}

#register-button:active {
	transform: scale(0.95);
}

.register-right {
    border-radius:0 10px 10px 0;
    background-color: #ff4a4a;
    width: 50%;
}

.register-right h1 {
    padding-top:20%;
	color: #FFFFFF;
    text-align: center;
}

.register-right p {
    padding:5% 21% 0 20%;
	color: #FFFFFF;
    text-align: center;
}

.register-right a {
    margin-left:35%;
}

.register-right button {
    text-align: center;
    border-radius: 20px;
	border: solid 1px #FFFFFF;
	background-color: #ff4a4a;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 2% 12px 2%;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    width:30%;
    margin-top:5%
}

.register-right button:active {
	transform: scale(0.95);
}

.index-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top:3%
}

.post {
    background-color: white;
    width: 50%;
    border-radius:10px 10px 10px 10px;
    padding: 10px 0px 0 0px;
    margin-top:20px;
}

.index-div-create {
    display: flex;
    justify-content: center;
    height: 100%;
    padding-top:3%
}

.index-newpost {
    color: white;
    padding-left:23%;
    padding-right:23%;
    padding-top:12.5px;
    font-size:25px;
	transition: transform 80ms ease-in;
    padding-bottom:12.5px;
    border-radius:10px 10px 10px 10px;
    background-color: #ff4a4a;
    margin-bottom:10px
}

.index-newpost:active {
	transform: scale(0.95);
}

.create-post h1 {
    padding-bottom: 3%;
    color: #ff4a4a;
}

.create-post {
    width:55%;
    height: 50%;
    display: flex;
    flex-direction: column;
    border-radius:10px 10px 10px 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: white;
    padding:2% ;
    margin-bottom: 8%;
}

.create-post h3 {
    margin-left: 3%;
}

.create-post input, textarea {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 15px 10% 3% 3%;
    width: 90%;
}

.dddddddddddddd {
    height: 300px;
}

#new-post-button {
    border-radius: 20px;
	border: none;
	background-color: #ff4a4a;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 2% 12px 2%;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    width:30%;
    margin-left:35%
}

#new-post-button:active {
	transform: scale(0.92);
}

.view-comments {
    border-radius: 0 0 10px 10px;
	border: none;
	background-color: #ff4a4a;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	padding: 10px 2% 10px 2%;
	letter-spacing: 1px;
	transition: transform 80ms ease-in;
    width:100%;
    margin-top: 15px;
}

.comment-post {
    background-color: white;
    width: 60%;
    border-radius:10px 10px 10px 10px;
    padding: 10px 0px 0 0px;
    margin-top:20px;
}

.comment {
    background-color: white;
    width: 55%;
    border-radius:10px 10px 10px 10px;
    padding: 10px 0px 10px 0px;
    margin-top:10px;
}

.account {
    background-color: white;
    width: 50%;
    border-radius:10px 10px 10px 10px;
    padding: 10px 0px 10px 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    height: 20%;
    margin-top: 30vh;
    margin-bottom: 30vh;
}

.calc-div {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: scroll;
}

.calc-block {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius:10px 10px 10px 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color:white;
    padding:3%;
    margin:80px;
}

.calc-block p {
    margin-top:30px;
}

#calculate-btn{
    border-radius: 20px;
	border: none;
	background-color: #ff4a4a;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 0 12px 0;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    width:20%;
    position: relative;
    margin-top:50px
}

#calculate-btn:active {
    transform: scale(0.95);
}